<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/logo.svg" alt="UniHub Logo" width="120">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/Club/joinclub.html">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/event/event.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/Profile/profile.html">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
